# Kotlin
*.class
*.log
*.jar
*.war
*.ear
*.db
*.iml
*.hprof
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig
.DS_Store
*.sublime-project
*.sublime-workspace
*.idea
*.ipr
*.iws
.idea
.gradle
build/
out/
local.properties
*.iml
*.hprof
